@import url(https://fonts.googleapis.com/css?family=Montserrat);

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: rgba(47, 47, 47, 0.87);
  background-color: #f5f0df;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mainContainer {
  text-align: left;
  padding-left: 100px;
  background-color: #f5f0df;
  padding-right: 100px;
}

.name {
    padding-bottom: 50px;
}

.funFactsList a {
  color: blue;
}

.titleHeader {
  margin: 0; /* Remove default margins */
  display: inline-block; /* Ensure they sit next to each other */
  margin-right: 50px; /* Add space to the right of titleHeader */
}

#about {
  margin-top: 100px;
  color: #A7BEAE;
}

.aboutMe {
  margin: 0;
  display: inline-block;
  margin-right: 50px;
}

.aboutMe a {
  color: #A7BEAE;
  text-decoration: none;
}

.projects {
  margin: 0;
  display: inline-block;
  margin-right: 50px;
}

.projects a {
  color: #B85042;
  text-decoration: none;
}

.skills {
  margin: 0;
  display: inline-block;
  margin-right: 50px;
}

.skills a {
  color: #5E716A;
  text-decoration: none;
}

.experience {
  margin: 0;
  display: inline-block;
  margin-right: 50px;
}

.experience a {
  color: #f36f51;
  text-decoration: none;
}


/* Projects */
.projectHolder {
  border: 1px solid black;
  margin:20px;
  border-radius: 10px;
  background-color: white;
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  padding: 20px; /* Add padding for better spacing */
}

#projects {
  color: #B85042;
}

.giftfairyDescription {
  margin-bottom: 20px; /* Add space between description and buttons */
  padding: 0 20px 0 40px;
}

.giftFairyPic {
  border-radius: 5px;
  margin-top: 25px;
  margin-bottom: 20px;
}

.giftfairyHolder {
  display: flex;
  align-items: center; 
}

.giftfairyTitle {
  margin: 0;
  color:#B85042;
}

.giftfairyDescription {
  margin: 0;
}

.catalystHolder {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; 
  margin-top: 10px;
}

.catalystTitle {
  margin: 0;
  margin-bottom: 10px;
  color: #B85042
}

.catalystDescription {
  margin: 0;
  margin-bottom: 10px; /* Adjust spacing between description and image */
  padding: 0 20px 0 40px;
}

.catalystPic {
  border-radius: 5px;
  margin-bottom: 20px;
}

.momentorsHolder {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; 
}

.momentorsTitle {
  margin: 0;
  margin-bottom: 10px;
  color: #B85042;
}

.momentorsDescription {
  margin: 0;
  margin-bottom: 10px;
  padding: 0 20px 0 40px;
}

.momentorsPic {
  border-radius: 5px;
  margin-bottom: 10px; /* Adjust spacing between image and other elements */
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

button {
  margin-bottom: 10px; /* Add space between buttons */
}

/* giftfairy-carousel */
.cards {
  display: flex;
  margin-top: 25px;
  margin-bottom: 20px;
  margin-right: 100px;
  margin-left: -50px;
}

.card {
  min-width: 200px;
  width: 200px; /* Adjusted width to initial size */
  min-height: 200px; /* Adjusted height to initial size */
  border-radius: 16px;
  padding: 0rem; /* Adjusted padding */
  transition: transform 0.3s; /* Only transition transform property */
  --distance: -130px;
  color: white;
}

.card:not(:first-child) {
  margin-left: var(--distance);
}

.card:hover,
.card:focus-within {
  transform: translateY(-.5rem);
}

.card:hover ~ .card,
.card:focus-within ~ .card {
  transform: translateX(calc(var(--distance) * -1.2));
}

.card:first-child:hover,
.card:first-child:focus-within {
  transform: translateY(-.5rem); /* Adjusted translateY for more emphasis */
}

.card:first-child {
  margin-right: 160px; /* Adjust the margin to push the first card away */
}

.card:not(:first-child) {
  margin-left: -130px; /* Adjusted margin for the rest of the cards */
}


/* Button CSS */
.button-42 {
  background-color: initial;
  background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
  z-index: 9;
  border: 0;
  transition: box-shadow .2s;
  margin-left: 10px;
  text-align: center;
}

.button-42:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}

.button-link {
  text-decoration: none; /* Remove underline from links inside buttons */
  color: inherit; /* Inherit the color from the button */
}

/* Arrow & Hover Animation */
#more-arrows {
	width: 35px;
  height: 25px;
  &:hover {
    polygon { 
      fill: #050241;
      transition: all .2s ease-out;

      &.arrow-bottom {
        transform: translateY(-18px);
      }

      &.arrow-top {
        transform: translateY(18px);
      }    
    }
  }
}

polygon {
  fill: #050241;
  transition: all .2s ease-out;
    
  &.arrow-middle {
	  opacity: 0.75;
	}

	&.arrow-top {
	  opacity: 0.5
	}
	 
}

/* Skills and Certs */

#skills {
  color: #5E716A;
}

.educationHolder {
  margin:20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  justify-content: center;
}

.appHolder {
  border-radius: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center horizontally */
  text-align: center; /* Align text in the center */
  margin-bottom: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 400px;
  height: 472px;
  margin-right: 20px;
}

.appTitle {
  margin: 0;
  margin-bottom: 0px; /* Add space between title and image */
  color: #f36f51;
}

.appJob {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.appPic {
  margin-right: 20px;
}

.appJob ul {
  margin: 0;
  padding-left: 20px; /* Adjust padding for list items */
  text-align: left; /* Align list items to the left */
  margin-top: 30px;
}


.momentumHolder {
  border-radius: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center horizontally */
  text-align: center; /* Align text in the center */
  margin-bottom: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 400px;
  margin-right: 20px;
}

.momentumTitle {
  margin: 0;
  margin-bottom: 0px; /* Add space between title and image */
  color: #f36f51;
}

.momentumJob {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.momentumPic {
  margin-right: 20px;
}

.momentumJob ul {
  margin: 0;
  padding-left: 20px; /* Adjust padding for list items */
  text-align: left; /* Align list items to the left */
  margin-top: 30px;
}


/* Professional Experience */

.experienceHolder {
  margin:20px;
  /* background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; */
}

#experience {
  color: #f36f51;
}

.pantherHolder {
  border-radius: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center horizontally */
  text-align: center; /* Align text in the center */
  margin-bottom: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.panthersTitle {
  margin: 0;
  margin-bottom: 0px; /* Add space between title and image */
  color: #f36f51;
}

.panthersJob {
  display: flex;
  align-items: center; /* Center children horizontally */
}

.panthersPic {
  margin-right: 20px; /* Add spacing between the image and text */
}

.panthersJob ul {
  margin: 0;
  padding-left: 20px; /* Adjust padding for list items */
  text-align: left; /* Align list items to the left */
}

.recovery {
  margin-bottom: -20px;
}

/* True REST Charlotte */

.trueRestHolder {
  border-radius: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center horizontally */
  text-align: center; /* Align text in the center */
  margin-bottom: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.trueRestTitle {
  margin: 0;
  margin-bottom: 0px; /* Add space between title and image */
  color: #f36f51;
}

.trueRestJob {
  display: flex;
  align-items: center; /* Center children horizontally */
}

.trueRestPic {
  margin-right: 20px; /* Add spacing between the image and text */
}

.trueRestJob ul {
  margin: 0;
  padding-left: 20px; /* Adjust padding for list items */
  text-align: left; /* Align list items to the left */
}

.manager {
  margin-bottom: 20px;
}

.partnerships img {
  margin-right: 50px; /* Adjust the amount of space between logos */
}

/* Float Atlanta */

.floatAtlantaHolder {
  border-radius: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center horizontally */
  text-align: center; /* Align text in the center */
  margin-bottom: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.floatAtlantaTitle {
  margin: 0;
  margin-bottom: 0px; /* Add space between title and image */
  color: #f36f51;
}

.floatAtlantaJob {
  display: flex;
  align-items: center; /* Center children horizontally */
}

.floatAtlantaPic {
  margin-right: 20px; /* Add spacing between the image and text */
}

.floatAtlantaJob ul {
  margin: 0;
  padding-left: 20px; /* Adjust padding for list items */
  text-align: left; /* Align list items to the left */
}

.managerFloatAtlanta {
  margin-bottom: 20px;
}

.partnerships img {
  margin-right: 50px; /* Adjust the amount of space between logos */
}

/* Welcome Page */

html, body, .hello-parent {
  height: 100%;
  width: 100%;
  margin: 0;
  /* background: #ffffff; /* White background */
  /* background: -webkit-radial-gradient(#fff, #eaeaea); 
  background: -o-radial-gradient(#fff, #eaeaea); 
  background: -moz-radial-gradient(#fff, #eaeaea);
  background: radial-gradient(#fff, #eaeaea);   */
}

.hello-parent {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  flex-direction: column;
}

.welcomePageSubTitle {
  color: blue;
}

html, body{
  height: 100%;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial;
}

.newName {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 50px;
}

.hello {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 50px;
}

svg {
    display: block;
    font: 10.5em 'Montserrat';
    margin: 0 auto;
    width: 1360px; /* Increased width */
    height: 400px;
    margin-bottom: 30px;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #A7BEAE;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #B85042;
	animation-delay: -1s;
}

.text-copy:nth-child(3){
	stroke: #5E716A;
	animation-delay: -2s;
}

.text-copy:nth-child(4){
	stroke: #f36f51;
	animation-delay: -3s;
}

.text-copy:nth-child(5){
	stroke: #FFA500;
	animation-delay: -4s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}

/* Hello Fade In */

.fade-in {
  transition: opacity 1s ease;
}
.fade-out {
  opacity: 0;
  transition: opacity 1s ease;
}

.skillsAndCerts img {
  margin-right: 30px;
}

/* Contact */

#contact {
  color:  #FFA500;
  margin-bottom: -20px;
}
.contact a {
  color: #FFA500;
  text-decoration: none;
}

.contactInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}